.ranking-img {
  width: calc(3vw + 3vh) ;
  height: calc(3vw + 3vh) ;
}

.blogpost-Card {
  text-decoration: none;
  color:black; 
  font-size: calc(0.8vw + 0.8vh) ;
}


.blogpost-Card:hover {
  text-decoration: none;
  color:black; 
}