.postcard-Home {
  text-align: center;
  margin: auto;
  width: 80%;
  border: solid;
  border-color: #003c69;
  border-width: 1.5px;
  border-radius: 10px;
  margin-top: 50px;
  padding-bottom: 30px;
  padding-left: 20px;
}

.blogpost-Card {
  text-decoration: none;
  color:black; 
}

.title-container {
  padding-top: 20px;
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 30px;
  margin-left: 0;
}

.description-container{
  margin-top: 10px;
  font-size:20px;
}

.vote-container{
  margin-top: 10px;
  font-size:20px;
  font-weight:bold;
  color: #003c69;
}

img {
  width: 100px;
  height: 110px;
}
