.comments-container {
  margin-bottom: calc(5em);
}

.addComment-Button{
  height: 60px;
  font-size: 20px;
  margin-left: 1px;
}

.commentsRendered-container{
  position: relative;
  width: 75%;
  margin: auto;
}

.single-comment{
  display: flex;
  border-bottom: solid;
  border-color: gainsboro;
  text-align: left;
  margin-top: 20px;
}

.comment-content{
  flex-grow: 7;
  font-size: 20px;
  padding-top: 40px;
  vertical-align: auto;
}

.comment-remove-button{
  height: 60px;
  font-size: 20px;
  padding:20px 20px;
  background-color: #9A0E35;
  margin-bottom:10px ;
}

.comment-remove-button:hover{
  background-color: #6b0925;
}
