.headerContainer {
  text-align: center;
  padding-bottom: 40px;
  background-color: #dae0e6;
  font-weight: bold;
  border-radius: 6px;
  margin: auto;
  color: #0179D3;
  padding-top: 20px;
}

.navLinkContainer{
  margin-top: 50px;

}
.navBar {
  text-decoration: none;
  color: #83bbbc;
}

span {
  margin-left: 20px;
  margin-right: 10px;
  font-size: 10px;
}

nav a { 
  text-decoration: none;
  color:#80bce9;
  margin-right: 1em; }

nav a.active { 
  color:#0179D3;
 }