.postFormArea{
  text-align: left;
  margin-left: 40px;
}

.headerPost{
  font-size: 40px;
  margin-bottom: 20px;
}

.postForm{
  font-size: 20px;
}

.form-group{
  margin-top: 10px;
}

textarea{
  width: 70%;
  height: 150px;
}

input{
  width: 70%;
  height: 30px;
}

button {
  background-color: brown;
  color: white;
  margin-left: 10px;
  font-size: 15px;
  margin-top: 20px;
  border-radius: 10px;
}
