.headerContainer {
  border: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 20px;
  border-width: 10px;
  text-align: center;
  color: 	#fb8679;
  font-weight: bold;
  margin-bottom: 40px;
}

.navBar {
  color: brown;
  text-decoration: none;
}

.addPostLink {
  padding-left: 20px;
}

.navBar:active {
  color: gold;
}

